*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    
   
}

:root{

    --background_a : #d6e3f8;
    --background_b : #fef5ef;
    --background_c : #d5b9b2;
    --background_d : #564e58;
    --color_e : #252627;
    --color_f : #904e55;
    --color_g : #eee5e5;
    --color-logo : #582c4d;
    --head_text : black;



}


#content{
   margin-top: 7vh;
   
   display: flex;
    height: 80vh;
    width: 70vw;
    background-color: var(--background_a);
    align-items: center;
    top: 25vh;
    justify-content: center;
    color: var(--color_e);
   
}

#box{
    position:absolute;
    top: 15vh;
    right: 5vw;
    height: 350px;
    width: 250px;
    background-color: var(--color_f) ;

    
}
#pic{
   position: absolute;
    top: 20vh;
    right: 2vw;
    height: 350px;
    width: 250px;
    
    background-image: url("photo1.jpg");
    background-size: cover;
    
}
a{
    color: var(--head_text);
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p{
    text-align: center;
    padding: 30px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#about{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
   height: 90vh;
    width: 100vw;
    background-color: var(--background_b);
    
    font-size: 1.2rem;
} 
#edu{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color: var(--background_c);
    font-size: 1.2rem;
}
#skills{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width:100vw;
    background-color: var(--background_b);
    font-size: 1.2rem;
}
#contact{
    align-items:center;
    justify-content: center;

    display: flex;
    margin: 5vh 2vw 0vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color: var(--background_d);
    color: var(--color_g);
    font-size: 1.2rem;
}
footer a{
    color: var(--color_g);
}
    
 #footer{
    position: fixed;
    
}
h2{
    font-size: 40px;
    text-align: center;
}
h1{
    font-size: 50px;
}



header{
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background_b);
    box-shadow: 0 1px 4px var(--background_d);
   
}
li{
    list-style: none;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--color-logo);
    font-size: 5vh ;
    font-weight: bolder;
}

.navbar{
    display: flex;
}
.navbar a{
    color: var(--background_d);
   font-size: 1.2rem;
    font-weight: 500;
    padding:  5px 0;
    margin: 0px 30px;
    

}
.navbar a:hover{
    background-color: var(--background_c);
    color: var(--color_e);
    border-radius: 10%;
    transition: 0.3s;
}


@media(max-width: 1280px){
        header{
            padding: 14px 2%;
            
        }
        .navbar a{
            padding: 5px 0;
            margin: 0px 20px;
        }
}

@media(max-width:860px){
    header{
        display: flex;

    }
 /*   .navbar a{
        display: none;
    } */
    #box{
        height: 280px;
        width: 200px;
    }
    #pic{
        height: 280px;
        width: 200px;
    }
}

@media(min-width:700)and(max-width:860px){

#box{
        height: 175px;
        width: 125px;
    }
    #pic{
        height: 175px;
        width: 125px;
    }



}
@media(max-width: 650px){

    #box{
        top:65vh;
        height: 210px;
        width: 150px;
        
    }
    #pic{
        top:67vh;
        height: 210px;
        width: 150px;
        
    }
    #content{
        width: 100%;
    }

}
.toggle_btn{
        font-size: 1.5rem;
        font-weight:bolder;
        cursor: pointer;
        color: var(--color_f);
        display: none;
}
@media only screen and (max-width: 860px){
     .navbar{
        width: 60%;
        height: 0px;
        background: var(--background_b);
        position: absolute;
        top: 12vh;
        text-align: center;
        z-index: 2;
        display: block;
        right: 1rem;
        border-radius: 5%;
        transition: 0.5s;
        overflow: hidden;
        transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .navbar.open{
        
        height: 200px;
    }

    .navbar li{
            
            margin-top: 15px;
            margin-bottom: 15px;
    }
    .toggle_btn{
        display: block;
    }

    
}