*{
    padding: 0;
    margin: 0;
}
.navbar {
    height : 8vh;
    background-color: #fef5ef;
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 250;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}



#logo{
    font-weight: bold;
    font-size: 25px;
    color: #582c4d;

}
#content{
   margin-top: 7vh;
   
   display: flex;
    height: 80vh;
    width: 70vw;
    background-color: #d6e3f8;
    align-items: center;
    top: 25vh;
    
   
}

#box{
    position:absolute;
    top: 15vh;
    right: 5vw;
    height: 350px;
    width: 250px;
    background-color:#9d5363 ;
}
#pic{
   position: absolute;
    top: 20vh;
    right: 2vw;
    height: 350px;
    width: 250px;
   
    background-image: url("photo1.jpg");
    background-size: cover;
    
}
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p{
    text-align: center;
    padding: 30px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#about{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
   height: 90vh;
    width: 100vw;
    background-color: #fef5ef;
} 
#edu{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color:#d6e3f8;
}
#skills{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width:100vw;
    background-color:#fef5ef;
}
#contact{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5vh 2vw 0vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color:#d6e3f8;
}
#header{
    position: fixed;
}
#footer{
    position: fixed;
}
h2{
    font-size: 40px;
    text-align: center;
}
h1{
    font-size: 50px;
}

@media(min-width:700px){
    .checkbox{
        display: none;
    }

}
@media(max-width:700px){
    .links{
        display: none;
    }
   /*dropdown button*/
    .checkbox{
        
        background-color:none;
        color: #9d5363;
        position: absolute;
        right: 10vw;
        top: 3vh;
       
       border: none;
    }

   /*the container <div>- needed to position dropdown content*/
   .navbar{
       
        position:relative;
       width: 100vw;
    }
    /* dropdown content (hidden by default)*/
   /* .links{
        display:none; 
        position:absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }*/
    /*links inside dropdown content*/
   /* .links a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }*/
    /*change of color of dropdown links on hover*/
    .links a:hover{background-color: #ddd;}

    /*show the dropdown menu on hover */
    .navbar:hover .links{display: block;}

    /*change the background color of the dropfown button when the dropdown content is shown*/
    .navbar:hover .checkbox{background-color: #3e8e41;}


}
