*{
    padding: 0;
    margin: 0;
}
.navbar {
    height : 8vh;
    background-color: #fef5ef;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    font-weight: 250;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
#logo{
    font-weight: bold;
    font-size: 25px;
    color: #582c4d;

}
#content{
   margin-top: 7vh;
   
   display: flex;
    height: 80vh;
    width: 70vw;
    background-color: #d6e3f8;
    align-items: center;
    top: 25vh;
    
   
}

#box{
    position:absolute;
    top: 15vh;
    right: 5vw;
    height: 350px;
    width: 250px;
    background-color:#9d5363 ;
}
#pic{
   position: absolute;
    top: 20vh;
    right: 2vw;
    height: 350px;
    width: 250px;
   
    background-image: url("photo1.jpg");
    background-size: cover;
    
}
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p{
    text-align: center;
    padding: 30px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#about{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
   height: 90vh;
    width: 100vw;
    background-color: #fef5ef;
} 
#edu{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color:#d6e3f8;
}
#skills{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5vh 2vw 5vh 1vw;
    height: 90vh;
    width:100vw;
    background-color:#fef5ef;
}
#contact{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5vh 2vw 0vh 1vw;
    height: 90vh;
    width: 100vw;
    background-color:#d6e3f8;
}
#header{
    position: fixed;
}
#footer{
    position: fixed;
}
h2{
    font-size: 40px;
    text-align: center;
}
h1{
    font-size: 50px;
}